.page-background-light {
    background-color: white;
}

.comments-expanded-container-light {
    background-color: white;
    color: black;
}

.parent-comment-light {
    background-color: #f5f5f5;
}

.odd-comment-light {
    background-color: #f5f5f5;
}

.even-comment-light {
    background-color: white;
}

.comment-info-container-light {
    color: grey;
}

.comment-author-link-light {
    color: grey;
}

.comments-comments-light {
    color: black;
}

.no-comments-container-light {
    /* background-color: #f5f5f5; */
    color: black;
}

.sub-title-light {
    color: black;
}

.filter-button-light {
    background-color: white;
    color: black;
}

.filter-button-light:hover {
    background-color: #c3f1ff;
}

.filter-button-light.selected {
    background-color: #5adaff;
}

.top-sort-light {
    background-color: white;
    color: black;
}

.floating-r-light {
    color: rgb(138, 138, 138);
}

.subreddit-input-light {
    background-color: white;
    color: black;
}

.browse-button-light {
    background-color: white;
    color: black;
}

.browse-button-light:hover {
    background-color: #c3f1ff;
}

.settings-menu-light {
    background: white;
    color: black;
}

.no-posts-container-light {
    color: black;
    background-color: white;
}

.sub-suggestion-container-light {
    background-color: white;
}

.sub-suggestion-container-light:hover {
    background-color: #c3f1ff;
}

.post-container-light {
    background-color: white;
    color: black;
}

.highlighted-post-light {
    box-shadow: 0 4px 8px 0 #28bbe850;
}

.domain-light {
    color: rgba(138, 138, 138);
}

.posted-light b {
    color: rgba(138, 138, 138);
}

.author-light b {
    color: rgba(138, 138, 138);
}

.author-link-light {
    color: black;
}

.subreddit-light b {
    color: rgba(138, 138, 138);
}

.comments-light {
    color: black;
}

.points-container-light {
    background-color: white;
}

.points-label-light {
    color: rgb(138, 138, 138);
}

.points-light {
    color: black;
}

.post-body-container-light {
    color: black;
}

.page-number-light {
    color: black;
}