html {
    height: 100%;
}

p {
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1f1f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #28bce8; 
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00d9ff; 
}

.page-background {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}

.page-container {
    max-width: 1440px;
    margin: 0 auto;
    transition: 150ms ease-in-out;
}

.sub-title-container {
    text-align: center;
    margin-bottom: 4%;
}

.sub-title {
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: 150ms ease-in-out;
}

.options-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 1%;
}

.filter-container {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    margin-left: 15%;
}

.filter-button {
    padding: 0%;
    text-align: center;
    margin-right: 2%;
    width: 15%;
    height: 23px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0);
    transition: 150ms ease-in-out;
    outline: none;
    max-width: 90px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
    font-weight: bold;
}

.filter-button:hover {
    cursor: pointer;
}

.filter-button.selected {
    color: white;
}

.select-container {
    margin-top: 1%;
}

.top-sort {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0);
    width: 22%;
    height: 23px;
    padding-left: 8px;
    outline: none;
    background-image: url(../images/down-arrow-white.svg);
    background-image: url(../images/down-arrow-black.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
    font-weight: bold;
}

.right-options-container {
    float: right;
    width: 40%;
    margin-right: 0%;
}

.subreddit-form-container-desktop {
    position: relative;
    display: inline-block;
    width: 56%;
    margin-right: 2%;
    margin-left: 1%;
    text-align: right;
}

.subreddit-form-container-mobile {
    display: none;
}

.floating-r {
    position: absolute;
    left: 9%;
    top: 14%;
    font-size: 75%;
    transition: 150ms ease-in-out;
}

.subreddit-input {
    -webkit-appearance: none;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    height: 17px;
    padding-left: 8%;
    width: 50%;
    font-size: 80%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
    0 3px 1px -2px rgba(0,0,0,.12), 
    0 1px 5px 0 rgba(0,0,0,.2);
    transition: 150ms ease-in-out;
}

.browse-button {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0);
    -webkit-transition: 150ms ease-in-out;
    -o-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    outline: none;
    height: 23px;
    width: 30%;
    margin-left: 4%;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
    font-weight: bold;
}

.clear-text-icon {
    display: none;
}

.browse-button:hover {
    background-color: #c3f1ff;
    cursor: pointer;
}

.settings-container {
    display: inline-block;
    z-index: 999999999;
    position: relative;
}

.settings-cog {
    display: inline-block;
    margin-top: 0.1%;
    vertical-align: top;
    transform-origin: 50% 50%;
}

.settings-cog:hover {
    cursor: pointer;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.settings-menu {
    position: absolute;
    width: 721%;
    z-index: 999;
    padding: 50%;
    padding-bottom: 25%;
    left: -720%;
    top: -390%;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(221, 115, 115, 0.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
    transition: 150ms ease-in-out;
}
.menu-item-container {
    display: inline-block;
    width: 100%;
}
.menu-item-label {
    font-size: 75%;
    font-weight: bold;
    padding-top: 2%;
    float: left;
}

.toggle-switch-container {
    float: right;
}

.react-switch-bg {
    border-radius: 4px !important;
}

.react-switch-handle {
    border-radius: 4px !important;
    outline: none;
    /* transform: translateX(30px) !important; */
}

.post-loader-container {
    width: 57px;
    font-size: 0;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 30%;
}

.no-posts-container {
    display: block;
    position: relative;
    width: 46%;
    margin: 0 auto;
    padding: 1%;
    padding-bottom: 2%;
    margin-bottom: 20%;
    margin-top: 2%;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 150%;
    box-shadow: 0 2px 2px 0 rgba(221, 115, 115, 0.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
}

.no-posts-message {
    display: inline-block;
    width: 86%;
}

.sad-face-img {
    width: 25%;
    margin-top: 2%;
}

.horizontal-line {
    border-bottom: 1px solid black;
    margin: 3% auto;
    width: 50%;
}

.suggestion-loader-container {
    width: 57px;
    font-size: 0;
    margin: 0 auto;
    margin-top: 5%;
}

.suggestions-container {
    display: inline-block;
    width: 100%;
    margin-top: 3%;
}

.sub-suggestion-container {
    border-radius: 4px;
    margin-bottom: 2.5%;
    margin-right: 2%;
    display: inline-block;
    width: 45%;
    height: 25px;
    padding: .5% 1%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
}

.sub-suggestion-container:hover {
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.sub-suggestion {
    position: relative;
    top: 17%;
    font-size: 60%;
}

.post-container {
    display: block;
    position: relative;
    width: 70%;
    min-width: 710px;
    margin: 0 auto;
    padding: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
}

.highlighted-post {
    transition: 150ms ease-in-out;
}

.animation-styles {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
}

.thumbnail {
    float: left;
    margin-right: 2%;
    margin-top: 0.5%;
    width: 80px;
    font-size: 0%;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.thumbnail-img {
    height: 80px;
    width: 80px;
}

.post-info {
    overflow: hidden;
    display: inline-block;
    width: 75%;
}

.info-container {
    display: inline-block;
    width: 100%;
}

.post-title {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-right: 1%;
}

.post-title:visited {
    color: #888888;
}

.domain {
    font-size: 0.7em;
}

.posted {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 1%;
}

.posted b{
    font-weight: normal;
}

.author {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 1%;
}

.author b {
    font-weight: normal;
}

.author-link {
    text-decoration: none;
}

.author-link:hover {
    color: #ffb500;
}

.subreddit {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 0.5%;
}

.subreddit b {
    color: rgb(148, 148, 148);
    font-weight: normal;
}

.subreddit-link {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 1%;
}

.subreddit-link:hover {
    cursor: pointer;
    /* color: #28bce8; */
    color: #ffb500;
}

.subreddit-container {
    display: inline-block;
    width: 30%;
}

.subreddit {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 0.5%;
}

.subreddit b {
    color: rgb(99, 99, 99);
}

.subreddit-link {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 1%;
}

.subreddit-link:hover {
    cursor: pointer;
    /* color: #28bce8; */
    color: #ffb500;
}

.comments {
    color: black;
    font-size: 0.7em;
    display: inline-block;
    text-decoration: none;
}

.comments:hover {
    cursor: pointer;
    /* color: #28bce8; */
    color: #ffb500;
}

.pinned {
    color: #02a702;
    font-size: 0.7em;
    display: inline-block;
}

.spoilers {
    color: #cac700;
    font-size: 0.7em;
    display: inline-block;
}

.nsfw {
    color: #e704b6;
    font-size: 0.7em;
    display: inline-block;
}

.points-container {
    float: right;
    height: 76px;
    width: 76px;
    text-align: center;
    margin-top: 0.5%;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.points-label {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
}

.points {
    font-family: 'Teko', sans-serif;
    font-size: 150%;
}

.expand-post-button {
    background-color: #00000000;
    border: none;
    color: #28bce8;
    width: 100%;
    height: 35px;
    padding-top: 0.5%;
    outline: none;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 125%;
    transition: 200ms ease-in-out;
    /* background-image: url(../images/expand-post-arrow2.svg);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 2%; */
}

.expand-post-button:hover {
    cursor: pointer;
    color: #ffb500;
}

.expand-post-button.in-post {
    margin: 0 auto;
    margin-top: 2%;
    color: #ffb500;
}

.expand-post-button.in-post:hover {
    color: #28bce8;
}

.not-expanded {
    display: none;
}

.expanded {
    display: block;
}

.body-loader-container {
    width: 57px;
    font-size: 0;
    margin: 0 auto;
}

.post-body-container {
    padding: 2%;
    width: 91%;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 4%;
    margin-top: 2%;
}

.post-body-container p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.post-body-container a {
    color: #6c7db8;
}

.post-body-container a:visited {
    color: #4562cc;
}

.embedded-link {
    /* max-width: 600px; */
    max-width: 100%;
    max-height: 600px;
}

.embedded-video {
    max-width: 100%;
    text-align: center;
}

.embedded-image {
    /* max-width: 600px; */
    max-width: 100%;
    max-height: 600px;
}

/* .embedded-image {
    text-align: center;
    max-width: 800px;
} */

.nav-container {
    position: relative;
    text-align: center;
    margin-top: 4%;
}

.nav-icon-container {
    display: inline-block;
}

.nav-icon {
    height: auto;
    transition: transform 200ms ease-in-out;
}

.nav-icon.left {
    transform: rotate(180deg);
}

.nav-icon.right:hover {
    cursor: pointer;
    transform: translateX(3px);
}

.nav-icon.left:hover {
    cursor: pointer;
    transform:  rotate(180deg) translateX(3px);
}

.page-number-container {
    display: inline-block;
    margin-right: 1%;
    margin-left: 4%;
}

.page-number {
    position: absolute;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    bottom: -26%;
    left: 49.5%;
}

.md-spoiler-text {
    color: rgb(71, 71, 71);
    background-color: rgb(71, 71, 71);
}

.md-spoiler-text:hover {
    background-color: transparent;
    color: white;
}